<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'css/bootstrap.min.css' %}"></script>
  <style>
  body {
      position: relative;
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #e4b9c0;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
  </style>
    <title>Title</title>
</head>
<body >
<div id="section2">
<h1 align="center"> your todo list</h1>
   <div class="container">
  <table class="table table-hover" border="0">
    <thead>
      <tr >
        <th class="col-sm-3">Name</th>
        <th class="col-sm-3">Creation Date</th>
          <th class="col-sm-3">link</th>


      </tr>
    </thead>
      <tbody>
    {% for name in colleges %}
        <tr>

                       <td class="col-sm-3"><a href="http://127.0.0.1:8000/todolist/item/{{name.name}}">
            {{ name.name }}</a>
                </td>
            <td class="col-sm-3" style="color: #2b542c">
                {{ name.creation_date }}
            </td>
        <td  class="col-sm-3">
            <a href="http://127.0.0.1:8000/todolist/item/{{name.name}}" class="btn btn-info" role="button">Open</a>
        </td>
        <td></td>
        </tr>
    {% endfor %}
 </tbody>
  </table>
</div>
</div>
</body>
</html>